n차배열3

In [3]:
import numpy as np
list = [1,2,3,4,5]
print(list)
arr = np.array(list)
print(arr)

[1, 2, 3, 4, 5]
[1 2 3 4 5]

n차배열1

In [11]:
import numpy as np
list = [1,2,3,4,5]
print(list)
arr = np.array(list)
print(arr)

print(type(list))
print(type(arr))

[1, 2, 3, 4, 5]
[1 2 3 4 5]
<class 'list'>
<class 'numpy.ndarray'>

n차배열2

In [100]:
arr1 = np.array([1,2,3,4,5])
print(arr1)

arr2 = np.array([[1,2],
                [3,4],
                [5,6]])
print(arr2)

[1 2 3 4 5]
[[1 2]
 [3 4]
 [5 6]]

In [14]:
arr1 = np.array([1,2,3,4,5])
print(arr1)

arr2 = np.array([[1,2],
                [3,4],
                [5,6]])
print(arr2)

print(arr1.shape)
print(arr2.shape)

[1 2 3 4 5]
[[1 2]
 [3 4]
 [5 6]]
(5,)
(3, 2)

random함수로 만들기1

In [25]:
np.random.random((2,3))

array([[0.45963386, 0.73458035, 0.44038649],
       [0.89073151, 0.17914787, 0.48282212]])

rnadom함수로 만들기2

In [41]:
#np.random.randint(0,100, size = (3,7))
np.random.randint(0,10, size = (2,3))

array([[6, 5, 1],
       [2, 7, 5]])

특정 범위의 숫자를 배열로 생성하기1

In [43]:
#1~10까지 정수로 이루어진 넘파이 배열 만들기
arr = np.arange(1,11)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10]

특정 범위의 숫자를 배열로 생성하기2

In [50]:
#1~2까지 0.1 간격의 소수로이루어진 넘파이 배열 만들기
arr = np.arange(1,2, 0.1)
print(arr)

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9]

Numpy데이터이해1

In [4]:
arr = np.array([1, 'a', 3])
print(arr)

['1' 'a' '3']

numpy데이터이해2

In [5]:
arr = np.array([1,2,0.3])
print(arr)

[1.  2.  0.3]

특정 값을 인덱싱하여 가져오기1

In [7]:
arr = np.array([1,2,3,4,5])
arr[2]

3

특정 값을 인덱싱하여 가져오기2

In [8]:
arr = np.array([1,2,3,4,5])
arr[-3]

3

특정 값을 인덱싱하여 가져오기3

In [9]:
arr = np.array([2,6,8,9,12,23,27,32,35])
arr[0:8:2]

array([ 2,  8, 12, 27])

특정 값을 인덱싱하여 가져오기4

In [10]:
arr = np.array([2,6,8,9,12,23,27,32,35])
arr[::2]

array([ 2,  8, 12, 27, 35])

Numpy배열 간의 +연산

In [51]:
import numpy as np
arr1 = np.array([2,4,6,8,10])
arr2 = np.array([5,10,15,20,25])
result = arr1+arr2
print(result)

[ 7 14 21 28 35]

Numpy배열 간의 -연산

In [54]:
import numpy as np
arr1 = np.array([2,4,6,8,10])
arr2 = np.array([5,10,15,20,25])
result = arr1-arr2
print(result)

[ -3  -6  -9 -12 -15]

Numpy배열 간의 X연산

In [53]:
import numpy as np
arr1 = np.array([2,4,6,8,10])
arr2 = np.array([5,10,15,20,25])
result = arr1*arr2
print(result)

[ 10  40  90 160 250]

Numpy배열 간의 ÷연산

In [52]:
import numpy as np
arr1 = np.array([2,4,6,8,10])
arr2 = np.array([5,10,15,20,25])
result = arr1/arr2
print(result)

[0.4 0.4 0.4 0.4 0.4]

Numpy순서대로 정렬 코드1

In [67]:
nii = np.array([1,8,16,19,27,28,55])
#nii = np.array([8,19,16,55,27,28,1])
np.sort(nii)[::-1]

array([55, 28, 27, 19, 16,  8,  1])

마무리미션(2주차)
카페 매출 구하기1

In [69]:
coffee = [87,63,64,110,144,43,69,53,133,55,78,123,63,101]
waffle = [87,36,32,101,41,78,115,31,53,11,13,119,25,65]
coffee=np.array(coffee) *3400
waffle = np.array(waffle) * 6700
print(coffee)
print(waffle)

[295800 214200 217600 374000 489600 146200 234600 180200 452200 187000
 265200 418200 214200 343400]
[582900 241200 214400 676700 274700 522600 770500 207700 355100  73700
  87100 797300 167500 435500]

마무리미션(2주차) 카페 매출 구하기2

In [99]:
coffee = [87,63,64,110,144,143,69,53,133,55,78,123,63,101]
waffle = [87,36,32,101,41,78,115,31,53,11,13,119,25,65]
coffee=np.array(coffee) *3400
waffle = np.array(waffle) * 6700
print(coffee)
print(" ")
print(waffle)
print(" ")
coffee[0:13]
print(sum(coffee))
print(sum(coffee)/15)
print(" ")
waffle[0:13]
print(sum(waffle))
print(sum(waffle)/14)

total = coffee + waffle
print(" ")
filter = np.where(total <= 450000)
print(" ")
print(filter)
print(total[filter])
print(" ")
print(total)
print(" ")
print("일일 커피와 와플의 매출은 {}원입니다.".format(sum(total)))
print("일일 커피와 와플의 평균 매출은 {}원입니다.".format(int(sum(total) / len(total))))
print(" ")
print("커피의 총 매출은 {}원입니다".format(sum(coffee)))
print("와플의 총 매출은 {}원입니다".format(sum(waffle)))
print(" ")
print("커피의 평균 매출은 {}원입니다".format(int(sum(coffee)/ len(coffee))))
print("커피의 평균 매출은 {}원입니다".format(int(sum(waffle)/ len(waffle))))

[295800 214200 217600 374000 489600 486200 234600 180200 452200 187000
 265200 418200 214200 343400]

[582900 241200 214400 676700 274700 522600 770500 207700 355100  73700
  87100 797300 167500 435500]

4372400
291493.3333333333

5406900
386207.14285714284


(array([ 2,  7,  9, 10, 12]),)
[432000 387900 260700 352300 381700]

[ 878700  455400  432000 1050700  764300 1008800 1005100  387900  807300
  260700  352300 1215500  381700  778900]

일일 커피와 와플의 매출은 9779300원입니다.
일일 커피와 와플의 평균 매출은 698521원입니다.

커피의 총 매출은 4372400원입니다
와플의 총 매출은 5406900원입니다

커피의 평균 매출은 312314원입니다
커피의 평균 매출은 386207원입니다

In [71]:
l=[1,2,3,4,5]
print(sum(l))

15